name: fix

on:
  pull_request:
    paths:
      - '**/*.ts'
      - '**/*.json'
      - pnpm-*
      - .github/workflows/fix.yaml
  push:
    branches:
      - main
    paths:
      - '**/*.ts'
      - '**/*.json'
      - pnpm-*
      - .github/workflows/fix.yaml

jobs:
  generate:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0
      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: 20.19.4
      - run: npm install -g pnpm@latest-10
      - run: pnpm i
      - run: pnpm run -r lint --fix
      - run: pnpm run format
      - uses: int128/update-generated-files-action@f6dc44e35ce252932e9018f1c38d1e2a4ff80e14 # v2.60.0
