name: fix

on:
  pull_request:
    paths:
      - '**/*.ts'
      - '**/*.json'
      - pnpm-*
      - .github/workflows/fix.yaml
  push:
    branches:
      - main
    paths:
      - '**/*.ts'
      - '**/*.json'
      - pnpm-*
      - .github/workflows/fix.yaml

jobs:
  generate:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5.0.0
        with:
          node-version: 20.19.5
      - run: npm install -g pnpm@latest-10
      - run: pnpm i
      - run: pnpm run -r lint --fix
      - run: pnpm run format
      - uses: int128/update-generated-files-action@f6dc44e35ce252932e9018f1c38d1e2a4ff80e14 # v2.60.0
