name: hello-world

on:
  pull_request:
    paths:
      - hello-world/**
      - '**/*.json'
      - pnpm-*
      - .github/workflows/hello-world.yaml
  push:
    branches:
      - main
    paths:
      - hello-world/**
      - '**/*.json'
      - pnpm-*
      - .github/workflows/hello-world.yaml

defaults:
  run:
    working-directory: hello-world

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5.0.0
        with:
          node-version: 22.20.0
          package-manager-cache: false
      - run: npm install -g pnpm@latest-10
      - run: pnpm i
      - run: pnpm test
      - run: pnpm build

      - name: Run hello-world
        uses: ./hello-world
        with:
          name: foo
