name: hello-world

on:
  pull_request:
    paths:
      - hello-world/**
      - '*.json'
      - .github/workflows/hello-world.yaml
  push:
    branches:
      - main
    paths:
      - hello-world/**
      - '*.json'
      - .github/workflows/hello-world.yaml

defaults:
  run:
    working-directory: hello-world

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      - uses: actions/setup-node@1a4442cacd436585916779262731d5b162bc6ec7 # v3.8.2
        with:
          node-version: 20
          cache: yarn
      - run: yarn
      - run: yarn test
      - run: yarn build
      - run: yarn package
      - name: Run hello-world
        uses: ./hello-world
        with:
          name: foo

  generate:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      - uses: actions/setup-node@1a4442cacd436585916779262731d5b162bc6ec7 # v3.8.2
        with:
          node-version: 20
          cache: yarn
      - run: yarn
      - run: yarn lint --fix
      - run: yarn format
      - uses: int128/update-generated-files-action@56802f4023f9bbc15a95cf292bafd7fb16bae914 # v2.44.0
