name: hello-world

on:
  pull_request:
    paths:
      - hello-world/**
      - '*.json'
      - .github/workflows/hello-world.yaml
  push:
    branches:
      - main
    paths:
      - hello-world/**
      - '*.json'
      - .github/workflows/hello-world.yaml

defaults:
  run:
    working-directory: hello-world

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608 # v4.1.0
      - uses: actions/setup-node@5e21ff4d9bc1a8cf6de233a3057d20ec6b3fb69d # v3.8.1
        with:
          node-version: 20
          cache: yarn
      - run: yarn
      - run: yarn test
      - run: yarn build
      - run: yarn package
      - name: Run hello-world
        uses: ./hello-world
        with:
          name: foo

  generate:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608 # v4.1.0
      - uses: actions/setup-node@5e21ff4d9bc1a8cf6de233a3057d20ec6b3fb69d # v3.8.1
        with:
          node-version: 20
          cache: yarn
      - run: yarn
      - run: yarn lint --fix
      - run: yarn format
      - uses: int128/update-generated-files-action@b928348b371fb2d3a2ee8e5804358e6e94780ebd # v2.41.0
