name: hello-world

on:
  push:
    branches: [main]
    paths:
      - hello-world/**
      - '*.json'
      - '*.js'
      - .github/workflows/hello-world.yaml
  pull_request:
    branches: [main]
    paths:
      - hello-world/**
      - '*.json'
      - '*.js'
      - .github/workflows/hello-world.yaml

jobs:
  ts:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: hello-world
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 16
          cache: yarn
      - run: yarn
      - run: yarn lint
      - run: yarn format-check
      - run: yarn test
      - run: yarn build
      - run: yarn package

      - name: e2e-test
        uses: ./hello-world
        with:
          name: foo
