name: hello-world

on:
  push:
    branches: [main]
    paths:
      - hello-world/**
      - .github/workflows/hello-world.yaml
  pull_request:
    branches: [main]
    paths:
      - hello-world/**
      - .github/workflows/hello-world.yaml

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - id: yarn-cache-dir
        run: echo "::set-output name=dir::$(yarn cache dir)"
      - uses: actions/cache@v2
        with:
          path: ${{ steps.yarn-cache-dir.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-
      - run: yarn
        working-directory: hello-world
      - run: yarn format-check
        working-directory: hello-world
      - run: yarn lint
        working-directory: hello-world
      - run: yarn test
        working-directory: hello-world
      - run: yarn build
        working-directory: hello-world
      - run: yarn package
        working-directory: hello-world
      - uses: ./.github/actions/update-generated-files
