name: hello-world

on:
  pull_request:
    paths:
      - hello-world/**
      - '**/*.json'
      - pnpm-*
      - .github/workflows/hello-world.yaml
  push:
    branches:
      - main
    paths:
      - hello-world/**
      - '**/*.json'
      - pnpm-*
      - .github/workflows/hello-world.yaml

defaults:
  run:
    working-directory: hello-world

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
      - uses: actions/setup-node@0a44ba7841725637a19e28fa30b79a866c81b0a6 # v4.0.4
        with:
          node-version: 20
      - run: corepack enable pnpm
      - run: pnpm i
      - run: pnpm test
      - run: pnpm build

      - name: Run hello-world
        uses: ./hello-world
        with:
          name: foo
